<hgroup>
  <h1>Visual Language Learner</h1>

  <h2>Flash cards for your right brain</h2>
</hgroup>

<form action="/image" method="post">

  <label for="words-id">Enter the words that you want to learn:</label><br/>
  <textarea id="words-id" name="words" cols=40 rows=6></textarea><br/>

  <input type=submit value="Show Image!" class="button">
</form>